*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
rerun.txt
pickle-email-*.html

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Per our convention, *.webpack.js files are files compiled by webpack.
# They are supposed to be loaded through Sprockets `//= require`
# in regular JS files found in app/assets/javascripts.
app/assets/javascripts/*.webpack.js

node_modules

# elm-stuff if Elm's equivalent of npm's node_modules.
/elm-stuff/*

# exact-dependencies.json is Elm's equivalent of Ruby's Gemfile.lock.
# Since we're developing an app, we want to keep the exact dependencies in sync.
# Thus, we whitelist this file.
!/elm-stuff/exact-dependencies.json

# Temporary files left by the Elm REPL.
repl-temp-*
